.initial-snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.initial-snow > * {
    font-size: 50px;
    color: white;
    position: absolute;
    top: -5vh;
}

@keyframes snowfall {
    0% {
        transform: translate3d(var(--left-ini), 0, 0);
    }

    100% {
        transform: translate3d(var(--left-end), 110vh, 0);
    }
}

.snow:nth-child(2n) {
    filter: blur(1px);
    font-size: 40px;
}

.snow:nth-child(6n) {
    filter: blur(2px);
    font-size: 30px;
}

.snow:nth-child(10n) {
    filter: blur(5px);
    font-size: 30px;
}

.snow:nth-child(1) {
    --size: 0.8vw;
    --left-ini: 0vw;
    --left-end: -1vw;
    left: 70vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -1s;
}

.snow:nth-child(2) {
    --size: 0.2vw;
    --left-ini: -7vw;
    --left-end: 10vw;
    left: 65vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(3) {
    --size: 1vw;
    --left-ini: 6vw;
    --left-end: 6vw;
    left: 1vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -7s;
}

.snow:nth-child(4) {
    --size: 0.2vw;
    --left-ini: -3vw;
    --left-end: 9vw;
    left: 88vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -5s;
}

.snow:nth-child(5) {
    --size: 0.4vw;
    --left-ini: -2vw;
    --left-end: -9vw;
    left: 74vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -4s;
}

.snow:nth-child(6) {
    --size: 0.2vw;
    --left-ini: 5vw;
    --left-end: 1vw;
    left: 35vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -7s;
}

.snow:nth-child(7) {
    --size: 0.4vw;
    --left-ini: -2vw;
    --left-end: -1vw;
    left: 27vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(8) {
    --size: 1vw;
    --left-ini: -9vw;
    --left-end: -2vw;
    left: 69vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(9) {
    --size: 0.2vw;
    --left-ini: -1vw;
    --left-end: -5vw;
    left: 84vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -6s;
}

.snow:nth-child(10) {
    --size: 0.2vw;
    --left-ini: 7vw;
    --left-end: -9vw;
    left: 82vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -3s;
}

.snow:nth-child(11) {
    --size: 0.6vw;
    --left-ini: -2vw;
    --left-end: -1vw;
    left: 48vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -1s;
}

.snow:nth-child(12) {
    --size: 0.2vw;
    --left-ini: 5vw;
    --left-end: 6vw;
    left: 39vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(13) {
    --size: 0.2vw;
    --left-ini: 6vw;
    --left-end: 5vw;
    left: 3vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(14) {
    --size: 0.8vw;
    --left-ini: -5vw;
    --left-end: -2vw;
    left: 49vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(15) {
    --size: 0.6vw;
    --left-ini: 10vw;
    --left-end: 4vw;
    left: 77vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -4s;
}

.snow:nth-child(16) {
    --size: 0.8vw;
    --left-ini: -3vw;
    --left-end: 1vw;
    left: 86vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(17) {
    --size: 1vw;
    --left-ini: 6vw;
    --left-end: -7vw;
    left: 18vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -6s;
}

.snow:nth-child(18) {
    --size: 1vw;
    --left-ini: -9vw;
    --left-end: 4vw;
    left: 64vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -7s;
}

.snow:nth-child(19) {
    --size: 1vw;
    --left-ini: 2vw;
    --left-end: -7vw;
    left: 52vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(20) {
    --size: 0.4vw;
    --left-ini: 0vw;
    --left-end: 8vw;
    left: 5vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(21) {
    --size: 0.6vw;
    --left-ini: -9vw;
    --left-end: -2vw;
    left: 10vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -3s;
}

.snow:nth-child(22) {
    --size: 0.8vw;
    --left-ini: -3vw;
    --left-end: -8vw;
    left: 54vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(23) {
    --size: 0.6vw;
    --left-ini: -7vw;
    --left-end: -8vw;
    left: 20vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -3s;
}

.snow:nth-child(24) {
    --size: 0.4vw;
    --left-ini: 10vw;
    --left-end: -4vw;
    left: 68vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(25) {
    --size: 1vw;
    --left-ini: 3vw;
    --left-end: 5vw;
    left: 90vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(26) {
    --size: 1vw;
    --left-ini: -7vw;
    --left-end: 5vw;
    left: 71vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -2s;
}

.snow:nth-child(27) {
    --size: 0.6vw;
    --left-ini: 9vw;
    --left-end: 4vw;
    left: 2vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -5s;
}

.snow:nth-child(28) {
    --size: 1vw;
    --left-ini: -5vw;
    --left-end: 3vw;
    left: 23vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -1s;
}

.snow:nth-child(29) {
    --size: 0.4vw;
    --left-ini: -2vw;
    --left-end: -1vw;
    left: 39vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(30) {
    --size: 0.6vw;
    --left-ini: -9vw;
    --left-end: -5vw;
    left: 76vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -5s;
}

.snow:nth-child(31) {
    --size: 0.4vw;
    --left-ini: -5vw;
    --left-end: 3vw;
    left: 14vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -5s;
}

.snow:nth-child(32) {
    --size: 0.2vw;
    --left-ini: 5vw;
    --left-end: -1vw;
    left: 86vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(33) {
    --size: 0.4vw;
    --left-ini: -3vw;
    --left-end: 10vw;
    left: 66vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -6s;
}

.snow:nth-child(34) {
    --size: 1vw;
    --left-ini: -3vw;
    --left-end: 6vw;
    left: 75vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(35) {
    --size: 1vw;
    --left-ini: -6vw;
    --left-end: 7vw;
    left: 22vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -5s;
}

.snow:nth-child(36) {
    --size: 1vw;
    --left-ini: 3vw;
    --left-end: 4vw;
    left: 10vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -10s;
}

.snow:nth-child(37) {
    --size: 0.6vw;
    --left-ini: 2vw;
    --left-end: 10vw;
    left: 95vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -6s;
}

.snow:nth-child(38) {
    --size: 0.8vw;
    --left-ini: 5vw;
    --left-end: 8vw;
    left: 34vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -10s;
}

.snow:nth-child(39) {
    --size: 0.8vw;
    --left-ini: 4vw;
    --left-end: 0vw;
    left: 80vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -2s;
}

.snow:nth-child(40) {
    --size: 0.8vw;
    --left-ini: 1vw;
    --left-end: -7vw;
    left: 45vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -4s;
}

.snow:nth-child(41) {
    --size: 0.2vw;
    --left-ini: 9vw;
    --left-end: 10vw;
    left: 82vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -2s;
}

.snow:nth-child(42) {
    --size: 1vw;
    --left-ini: 9vw;
    --left-end: -9vw;
    left: 22vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -6s;
}

.snow:nth-child(43) {
    --size: 0.6vw;
    --left-ini: 5vw;
    --left-end: 8vw;
    left: 66vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -1s;
}

.snow:nth-child(44) {
    --size: 0.6vw;
    --left-ini: -5vw;
    --left-end: -2vw;
    left: 75vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -4s;
}

.snow:nth-child(45) {
    --size: 0.2vw;
    --left-ini: 0vw;
    --left-end: 3vw;
    left: 2vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -5s;
}

.snow:nth-child(46) {
    --size: 0.2vw;
    --left-ini: 8vw;
    --left-end: -3vw;
    left: 94vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(47) {
    --size: 0.6vw;
    --left-ini: -6vw;
    --left-end: -9vw;
    left: 95vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -4s;
}

.snow:nth-child(48) {
    --size: 0.2vw;
    --left-ini: -5vw;
    --left-end: 6vw;
    left: 34vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -6s;
}

.snow:nth-child(49) {
    --size: 0.8vw;
    --left-ini: 4vw;
    --left-end: 8vw;
    left: 22vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -10s;
}

.snow:nth-child(50) {
    --size: 0.2vw;
    --left-ini: -4vw;
    --left-end: 4vw;
    left: 100vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -9s;
}

body {
    background-color: #aef5ff !important;
}

html.dark-theme body {
    background-color: #16191b !important;
}

html.dark-theme .card {
    background-color: #2b3035 !important;
}

html.dark-theme .primary-menu .navbar-nav a.nav-link {
    color: #1a1a1a !important;
}

body .wrapper {
    z-index: 888 !important;
}

.modal-backdrop {
    z-index: 887 !important;
}

.btn {
    position: relative;
}

.btn.read-more-story {
    position: absolute !important;
}

.list-story-categories .btn-genres.btn::before {
    background: none;
    position: inherit;
    display: block;
    top: inherit;
    left: inherit;
    height: inherit;
}

.btn::before {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: -3px;
    right: 0;
    height: 23px;
    background:
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAXCAYAAACS5bYWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABFpJREFUeNrUV0tIo1cUvpkYjQ4xxSA6DxuNqG0dtaUKOgs3s6i0dFd3pSsXdjeIixakiGA34sZuXCkoONLFwJTK4GMYLYXg29gatTpiXurkbd7vv9/5ub+IxuhA7eiFQ5Kbc8/57ne/e87/ywRBYLdl3GG3aNwqsLJ0k0tLS+fmcnNzWUVFBVMoFGx2djarvLxcm5OTw+bm5iytra2xc4ExNjY27iqVyvvwK6CpeDzuCYVC1urq6qDA9UcfPp+PHR4esmAwKK6tr68/l5/8rgQ2Ozub1dbWyiYmJooaGxt/VqvV38jlchX9l0qlwoFA4DWS/RKLxRxFRUVf5+XlPcaaT2AP0sVPJBL2SCRiAPBpu93+vKamZo/Ae71eZjabWV1dXVqw7CKwp43ksrCw8Bhg7MJ/PLDZ5PHx8cz29vYT5JGD/bSYLgTrcDgYdk6siSc6NjZWDaAe4ZoHQL+cmZnRpZPnhWDpD8kw7uKo9ML/NMCsd2tr61vkzboMrEyv138M7TyLRqMWMBsX3sMgaZhMpp+AR5EJrCocDpuEGzKg4x8khs+CVWxubvZfR9JkMik4nU7BarUKLpeLmLsKuwIqTLynp4fqmIzASrqQT09Pf1VVVfX0KsWZ6uHBwQHTaDSsoKAgo6/H4xHLEcrVyRwuEisrKzs5XrrIVAVwiUVDKRRrL+YI32ewdVhMApuHWvcj6vids6J2u90MF4yBHUZNgKoEBaRBQalJqFSqtJfUYrGIlQX+ydXVVTN+u0tKSjQNDQ1axJVl2iTypebn55d7e3v/kqoDgZU1NTU9LCws/Py0M+2ekuGincxJ3yF+18jIyHJLS0slQJUWFxczrBeBE0vE5tHRkbixlZWVfSR8gTX/0P5gH7S1tX3Z3t7+BW8qAvwSfr8/jA0EIRM/qoFtampqbW9vTw+XA+ojUruVd3Z2tvb19T2TQFEim81GgVJoCvvj4+NLOJZgaWmpemdn5y3a6BbcnJDAw8HBwac6ne6eqCW5XDwB3qVSqM9/DAwMUNy/eVLabT7sI25qwgujThCBhWE+mAt2yNc4SQKSZrOQQE1HS22VJkmPAGTr7+//fX19fRk+Zgq0trbGeFAKEAQT98BSqKOj47vm5uaa/Px8JeIk4GcaHh6eWlxcfAU/A8xG67BxAX3fwdcbYUpSDJ06Z49Ak8ZC3OL8f3YiA4PBYKdLQ2AJ9OTk5GpXV9cQiCVh79M94QtlPLDUE/1gPNrd3f0W33W4cBoco48zQuy/IZYAMnGqlSc4c66L9JruQUaSARXeT8HGKzxAqFBekni6+h46+pMzGiJGMgTOJh1yU/KNEGDvZWvfBawkA9ppwGg0mrRa7SOI2g+gxOgbJIpdFpj72PnxSnPX8vqRxTURgBQWKisrH+GThOm+CtAzoK/9/Uiqq/6hoaHfdnd3jaOjo7/yY7yxbwqkWy3sQzpS2C6YirwvUJk0y7hurfyGRrnduPGvAAMASmo8wzeVwfsAAAAASUVORK5CYII=) no-repeat 0 -2px,
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE0AAAAXCAYAAABOHMIhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABiZJREFUeNrsWMtPlFcUvzPMwIDysLyRR4uATDHWCiVgSmRlios2DeiiXUFs0nRBd6arxqQhJDapkYXhP4BqDKTQhZaFNQSCaBEVJjwdHsNr5DUMDDPDzPT3u7nTDEgRKrKgc5KT+z3uufec33de99P4fD4RpL2RNgjB3kn35MkTeRERESFiYmLkGBoaKnQ6nWSNRvPPZFxr+vv7k6KioiIdDsfa8vLyQkFBgcP3Bnel3MDAQArWI0eFhISE87nb7bZ7PJ4VvLYuLi5O5+fnu9+kMNfq6+tLjIyMzMY6KeBEbK/XarXReI3lPDZMWcc4v7GxYV1dXR3Jy8ub2E5HPvJ6vRSSDH0ku1wuAfsEZOV1IEFHoeNFdHS0yMrK2knR0Lm5uR+hxLdQMjbwHTZbB41h8RGwCdc9MzMzneHh4bGJiYlf4SN8ijkfwqiIncCAAR7Iz2GPSShudjqdfeCeqampvwBQfFxc3JdYqwTv8gB8/F48A8BgKecE14V+L7ju2tpae05OzkuCCZvkPOj8mizmC6vVKtmPu+bx48cC3qI1mUyFUOyywWD4SHlELBaLJmCHNcwAghuAOujtuF4FqHO4nsX4EsAS3I4TJ04ME1h8PDE9PS09TYZoY2Pj1729vd6lpSVfkDYTPG0UkfNDRUWFgQ5Gb2Mh0N29e9eG/GQfHh4W8/PzwUy/ObQ/gMfVVlZW1iAiZdQxp3nv3LljRoL/5erVq1UIxzSiiVD9X4EDYATynCwAzGO858hCQRoaGmJFZNJz8YIcBc4BF966dau6sLAwBxVSJCUlCSThQwuU3W6XkYUok1Vzm5znQx5bbm9v77p+/frPeNSNRzZ/ISBwrG4ZR48eLamtrf2+uLjYSEG9Xi/wTISFhQlWGXohyzO/CJlVl23KQRLbABoaHx+/Z1lUZ/Hq1SsJFj3JT3hmHx8fnydPTEzMj46OziHPW2w22wxeD4Kfgadh/4YEzU8Az4DhffAn5eXlX1y6dKkEoCTspAQ9Mjs7+0BBo8Fms1lkZGTsOo0QLLRNkvnR+fEJzIMHD0xtbW39CL8JTFtSbAOvBIyLHIGVm9VzE2gKuDAMSSpcT6KXyT137lx2cnLyMXhcGDb3wq3XuWF3d/fCzZs3P0c4v5eSknJQbYLo7Ox0gC2lpaVZ3Be67Th/dnZWoAJKsJC3XA8fPhxoamp6hMb+BaaMgWcUMGtszZjiFDNmvcDI91pzG0iY4ARwkwrxkcHBwUdgNrRMbnrqoRbkVzDcvn3bl5qaWsmcgFH4G8XdEGUWFhak51AuISFBnkoCTyFbyWKxCJwIxlC0fq2rq7tcVFRkRKskjh8/Lr0+kBjCCDV/knfdv3//WX19/R8IRRNemxlu4AXwKqM+EJwdj1HbPYSwh3sCPAJDABm2LLchCjS+5/kirKGhwWk0GrMuXrxYQuX9hm/XXTMXMY+srKwI5ApZrbYmZh7deEJhAUKjLe/pLTzSsCuHrK+1tbUJVe3P6upq87Vr174rKysrYHVj/uW+OH3IfEuw4F3ee/fuPQfAvwOs5yyE4CnlFOu7BWrTCWlreO6FACpBZGwUw4BvkANLobReHb3kGZYGsGzTq/zlO8AT1ru6uoZbWlqeA6gINJAfnz59OlVLoX8Jtebm5raampqfcMvQYgTknz9//sKVK1c+y83NTdIEuCnaKMuNGzd+6+np6cCtSTkAw9D9X8Dyh+dbgaaAC1XAnUlPTy+qqqq6cPbs2UzkmWjNljiDJzpwHFnCkW2yo6NjCKW8H54wjlezKvRT09LSTsJrz5w6dSoN+Yp51ADAPUj8VoDbDq9pxrwuJcNIYQllJTIi/xopBw/VA7DJp0+f9hA78CgL5F5C8J2CpoCj8sfA6WCe/FPRhsRlZmbGIs8Y4FFO5CJgtrSsvrRVGW1V93b1myoGnKAKEcHgnwsWpg1lNI0fphwrmdqbckeU18WrnlOjqp5/j7W3BWvfQVPKa5SBkcrYCNVB65TRTlWZ1lXiXVU5xbtlDb2SPaLWYwrgHIcqPg6Vc7fbX69Yoyqfa7/AeiegbWOEVhmsVcWDwPn224iDJgla8Hd38Hd3ELQgaIeI/hZgAIPEp0vmQJdoAAAAAElFTkSuQmCC) no-repeat 50% -2px,
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAXCAYAAACFxybfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAodJREFUeNrsVb1rWlEUv2pN/GqspKRSKFYXWzEloIWif0Fn6dJChQ7OQil0qd3EzcEpg0OgdHDr4CQODk7VRlLMEIVqApX4We0zflR9/Z1Ui4T34ksaaAYP/Hzc673n/M6550PG8zz73yKjn0wm83fDYDAwo9HINBrNnwOQg4MDs0ql2lQqlfdAWont7ng8Pjw+Ps44nc4G1pI9EXWaSOzt7TGO42aH5Pv7+08ajUZ0MBiUeXEZd7vdL5VK5fX29rZ+5tQiEmdxKrlcjsEYczgcynK5/BKKv/IXFNz/XiqVXkHdjUuRIA9SqdRD8or/R8Ez9fr9fqHVakUR4c2z0REjIQuHw2ZcrPBXLCA0RHTezEdHjIQqkUhEr9I4HOILhQLf6/VoOUFEvDMiQiToDx1Cdz+bzZ6bUFarlel0OkkVUK/XWbvdPoVer5fh3ntsfwJ+CJ2XA4p0Op1bpBgJyxDehQQ6nQ5DZXHBYDBZq9V+EhFUndnr9drEqoc2bwJbwGPgtohuVSwWe2Gz2TZMJpNgRKi6qtUqg2EWj8dTgUDgo0KhWPN4PC70EvXOzs67fD6/S6kiRIKeZA1YJ2MiJNbdbvfTUCjkV6vVK2hcDF8GI2w0GrGTkxM2HA5PDxaLxSOfz/cWEfk81X0XIMMFgJJ/srBjCgk8IdcfuVyuZ36//7nFYtkQyAMumUzuRiKRD0jMFLa+AZOpYwqgB/ziBVqmVBKUO7eAB/R0WG/Z7XaTVqtdbTabHJL6EK2djBaBPHA0NSqpbUsiMUeEBgpF4Q5AbZrmSJ/yEWgBTaBNHl9kdkgmMUeG7qwAq9PqovceTA3zlxlgsuswyuXsGsiSxJLEkoSY/BZgAEjRodi+uBruAAAAAElFTkSuQmCC) no-repeat 100% -2px;
}

.topbar, .primary-menu .navbar {
    background: #B2DFEE !important;
}

.chapter-footer .btn::before {
    background: none;
    display: none;
}

